# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
CREDITS-fml.txt
forge-1.12.1-14.22.0.2452-changelog.txt
gradle.properties
gradlew
gradlew.bat
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar